.style__vipTransMoneyModal__1FEh0 { position: relative; padding: 0px 25px; max-height: 150px; }
.style__vipTransMoneyModal__1FEh0.style__nyb__BRT5N { width: 320px; margin: 0px auto; padding: 0px; }
.style__vipTransMoneyModal__1FEh0.style__nyb__BRT5N .style__title__2D3hD { height: 40px; margin: 0px 0px 12px; line-height: normal; font-family: PingFangSC; font-size: 14px; text-align: justify; color: rgb(65, 71, 85); }
.style__vipTransMoneyModal__1FEh0.style__nyb__BRT5N span { font-family: DINPro; font-size: 14px; line-height: normal; color: transparent; }
.style__vipTransMoneyModal__1FEh0.style__nyb__BRT5N .style__transMoneyTodo__Yq4IM { margin-top: 12px; }
.style__vipTransMoneyModal__1FEh0.style__nyb__BRT5N .style__transMoneyTodo__Yq4IM input { padding: 0px 55px 0px 12px; border-radius: 4px; border: 1px solid transparent; background-color: transparent; width: 320px !important; height: 40px !important; }
.style__vipTransMoneyModal__1FEh0.style__nyb__BRT5N .style__transMoneyTodo__Yq4IM input:focus { border-color: transparent; }
.style__vipTransMoneyModal__1FEh0.style__nyb__BRT5N .style__transMoneyTodo__Yq4IM button { color: transparent; right: 0px; position: absolute !important; box-shadow: none !important; background: transparent !important; }
.style__vipTransMoneyModal__1FEh0.style__nyb__BRT5N .style__transMoneyTodo__Yq4IM button:hover { background: transparent !important; }
.style__vipTransMoneyModal__1FEh0 .style__error__3j-Kf { color: red; margin-top: 6px; text-align: center !important; }
.style__vipTransMoneyModal__1FEh0 p { text-align: left; }
.style__vipTransMoneyModal__1FEh0 p.style__moneyTitle__12R8q { color: rgb(51, 51, 51); }
.style__vipTransMoneyModal__1FEh0 span { display: inline-block; height: auto; vertical-align: bottom; line-height: 20px; }
.style__vipTransMoneyModal__1FEh0 span.style__centerMoneys__1wgQG { display: block; color: rgb(51, 51, 51); text-align: left; }
.style__vipTransMoneyModal__1FEh0 .style__transMoneyTodo__Yq4IM { display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: justify; justify-content: space-between; margin-top: 10px; }
.style__vipTransMoneyModal__1FEh0 p.style__moneyTip__dXrQd { margin-top: 6px; color: red; }
.style__YbModal__rAlCT { position: relative; top: 50%; transform: translateY(calc(-50% - 0.5px)); margin: 0px auto; }
.venueStyle__pages__3golT { background-repeat: no-repeat; background-position: center top; background-size: cover; overflow: hidden; }
.venueStyle__pages__3golT img { display: block; }
.venueStyle__pages__3golT .venueStyle__content__37kNp { width: 1320px; min-width: 1320px; margin: 0px auto; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: center; justify-content: center; position: relative; }
.venueStyle__pages__3golT .venueStyle__content__37kNp .venueStyle__contentLeft__3bmvb { width: 490px; height: 376.05px; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; }
.venueStyle__pages__3golT .venueStyle__content__37kNp .venueStyle__contentLeft__3bmvb .venueStyle__subTitle__2nKwg { line-height: 30px; font-size: 16px; color: rgb(54, 81, 168); width: 440px; margin-left: 3.8px; margin-top: 8px; font-family: PingFangSC !important; }
.venueStyle__pages__3golT .venueStyle__content__37kNp .venueStyle__contentLeft__3bmvb .venueStyle__icons__kTABJ { width: 350px; display: flex; -webkit-box-pack: justify; justify-content: space-between; margin-top: 30px; }
.venueStyle__pages__3golT .venueStyle__content__37kNp .venueStyle__contentLeft__3bmvb .venueStyle__icons__kTABJ .venueStyle__iconItem__26QEL { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; -webkit-box-align: center; align-items: center; }
.venueStyle__pages__3golT .venueStyle__content__37kNp .venueStyle__contentLeft__3bmvb .venueStyle__icons__kTABJ .venueStyle__iconItem__26QEL .venueStyle__iconText__3-V_q { margin-top: 7px; color: rgb(54, 81, 168); line-height: 1; }
.venueStyle__pages__3golT .venueStyle__content__37kNp .venueStyle__contentLeft__3bmvb .venueStyle__btn__HuPwB { cursor: pointer; font-size: 18px; color: rgb(255, 255, 255); text-shadow: rgb(47, 91, 235) 1px 1px 2px; display: flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; transform: translateY(0px); transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s; }
.venueStyle__pages__3golT .venueStyle__content__37kNp .venueStyle__contentLeft__3bmvb .venueStyle__btn__HuPwB:hover { transform: translateZ(0px) scale(1.1); }
.venueStyle__pages__3golT .venueStyle__content__37kNp .venueStyle__models__zXaM0, .venueStyle__pages__3golT .venueStyle__content__37kNp .venueStyle__modelsDj__30CtN { position: relative; width: 800px; height: 800px; pointer-events: none; }
.venueStyle__pages__3golT .venueStyle__content__37kNp .venueStyle__models__zXaM0 img, .venueStyle__pages__3golT .venueStyle__content__37kNp .venueStyle__modelsDj__30CtN img { display: block; }
.venueStyle__pages__3golT .venueStyle__content__37kNp .venueStyle__tabs__3wTus { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; }
.venueStyle__pages__3golT .venueStyle__content__37kNp .venueStyle__tabs__3wTus .venueStyle__tabItem__11CR_ { margin-bottom: 2px; cursor: pointer; }
.venueStyle__pages__3golT .venueStyle__content__37kNp .venueStyle__tabs__3wTus .venueStyle__tabItem__11CR_:hover img { transform: translateZ(0px) scale(1.1); }
.venueStyle__pages__3golT .venueStyle__content__37kNp .venueStyle__tabs__3wTus .venueStyle__tabItem__11CR_ img { transform: translateY(0px); transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s; }
.venueStyle__pages__3golT .venueStyle__anm__3WJmq { position: absolute; z-index: 0; animation: 2s linear 0s infinite normal none running venueStyle__anmsUpAnima__AsnhQ; }
.venueStyle__pages__3golT .venueStyle__anmTwo__1r2lK { position: absolute; z-index: 0; animation: 2s linear 0s infinite normal none running venueStyle__anmsDownAnima__rb0t6; }
.venueStyle__pages__3golT .venueStyle__titleAnimation__1ia0h { animation: 0.5s ease-out 0s 1 normal none running venueStyle__titleAnima__1WC_w; }
.venueStyle__pages__3golT .venueStyle__subTitleAnimation__3-kF1 { animation: 0.5s ease-out 0.05s 1 normal none running venueStyle__titleAnima__1WC_w; }
.venueStyle__pages__3golT .venueStyle__btnAnimation__3E5th { animation: 0.5s ease-out 0.1s 1 normal none running venueStyle__btnAnima__66vzx; }
.venueStyle__pages__3golT .venueStyle__modelAnimation__2Dzpr { animation: 0.7s ease-out 0s 1 normal none running venueStyle__modelAnima__3lvDr; }
.venueStyle__pages__3golT .venueStyle__firstAnimation__v6yb- { animation: 0.5s ease-out 0s 1 normal none running venueStyle__firstAnima__Uj5Wq; }
.venueStyle__pages__3golT .venueStyle__anmAnimation__108Hh { animation: 0.5s ease-out 0s 1 normal none running venueStyle__anmAnima__PWEIU; }
@-webkit-keyframes venueStyle__titleAnima__1WC_w { 
  0% { opacity: 1; transform: translateX(0px); }
  50% { opacity: 0; transform: translateX(-100px); }
  90% { transform: translateX(0px); }
  100% { opacity: 1; transform: translateX(0px); }
}
@keyframes venueStyle__titleAnima__1WC_w { 
  0% { opacity: 1; transform: translateX(0px); }
  50% { opacity: 0; transform: translateX(-100px); }
  90% { transform: translateX(0px); }
  100% { opacity: 1; transform: translateX(0px); }
}
@-webkit-keyframes venueStyle__subTitleAnima__1qvJS { 
  0% { opacity: 1; transform: translateX(0px); }
  50% { opacity: 0; transform: translateX(-100px); }
  90% { opacity: 1; transform: translateX(0px); }
  100% { transform: translateX(0px); }
}
@keyframes venueStyle__subTitleAnima__1qvJS { 
  0% { opacity: 1; transform: translateX(0px); }
  50% { opacity: 0; transform: translateX(-100px); }
  90% { opacity: 1; transform: translateX(0px); }
  100% { transform: translateX(0px); }
}
@-webkit-keyframes venueStyle__btnAnima__66vzx { 
  0% { opacity: 1; transform: translateX(0px); }
  60% { opacity: 0; transform: translateX(-100px); }
  90% { opacity: 1; transform: translateX(0px); }
  100% { transform: translateX(0px); }
}
@keyframes venueStyle__btnAnima__66vzx { 
  0% { opacity: 1; transform: translateX(0px); }
  60% { opacity: 0; transform: translateX(-100px); }
  90% { opacity: 1; transform: translateX(0px); }
  100% { transform: translateX(0px); }
}
@-webkit-keyframes venueStyle__modelAnima__3lvDr { 
  0% { opacity: 1; transform: translateX(0px); }
  45% { opacity: 0; transform: translateX(-60px); }
  55% { opacity: 0; transform: translateX(30px); }
  100% { opacity: 1; transform: translateX(0px); }
}
@keyframes venueStyle__modelAnima__3lvDr { 
  0% { opacity: 1; transform: translateX(0px); }
  45% { opacity: 0; transform: translateX(-60px); }
  55% { opacity: 0; transform: translateX(30px); }
  100% { opacity: 1; transform: translateX(0px); }
}
@-webkit-keyframes venueStyle__firstAnima__Uj5Wq { 
  0% { opacity: 0; transform: translateX(30px); }
  100% { opacity: 1; transform: translateX(0px); }
}
@keyframes venueStyle__firstAnima__Uj5Wq { 
  0% { opacity: 0; transform: translateX(30px); }
  100% { opacity: 1; transform: translateX(0px); }
}
@-webkit-keyframes venueStyle__modelTyAnima__NXehz { 
  0% { opacity: 1; transform: translateX(0px); }
  45% { opacity: 0; transform: translateX(-100px); }
  80% { opacity: 1; transform: translateX(20px); }
  100% { transform: translateX(0px); }
}
@keyframes venueStyle__modelTyAnima__NXehz { 
  0% { opacity: 1; transform: translateX(0px); }
  45% { opacity: 0; transform: translateX(-100px); }
  80% { opacity: 1; transform: translateX(20px); }
  100% { transform: translateX(0px); }
}
@-webkit-keyframes venueStyle__anmAnima__PWEIU { 
  0% { opacity: 1; transform: translateX(0px); }
  45% { opacity: 0; transform: translateX(-60px); }
  100% { transform: translateX(0px); }
}
@keyframes venueStyle__anmAnima__PWEIU { 
  0% { opacity: 1; transform: translateX(0px); }
  45% { opacity: 0; transform: translateX(-60px); }
  100% { transform: translateX(0px); }
}
@-webkit-keyframes venueStyle__anmsUpAnima__AsnhQ { 
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}
@keyframes venueStyle__anmsUpAnima__AsnhQ { 
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}
@-webkit-keyframes venueStyle__anmsDownAnima__rb0t6 { 
  0% { transform: translateY(0px); }
  50% { transform: translateY(10px); }
  100% { transform: translateY(0px); }
}
@keyframes venueStyle__anmsDownAnima__rb0t6 { 
  0% { transform: translateY(0px); }
  50% { transform: translateY(10px); }
  100% { transform: translateY(0px); }
}
.venueStyle__ty__3em5P .venueStyle__contentLeft__3bmvb { margin-top: 20px; }
.venueStyle__ty__3em5P .venueStyle__icons__kTABJ { margin: 0px !important; }
.venueStyle__zr__2WRy_ .venueStyle__title__K3KhH { margin-top: 22px; }
.venueStyle__zr__2WRy_ .venueStyle__subTitle__2nKwg { letter-spacing: 0.5px; width: 430px !important; }
.venueStyle__zr__2WRy_ .venueStyle__tabs__3wTus { margin-top: 12px; }
.venueStyle__zr__2WRy_.venueStyle__pageIndex2__3pVp2 .venueStyle__title__K3KhH { margin-right: 58px; }
.venueStyle__zr__2WRy_.venueStyle__pageIndex3__1gc-j .venueStyle__tabs__3wTus { margin-left: -186px !important; }
.venueStyle__qp__3w4_e .venueStyle__title__K3KhH { margin-top: 25px; }
.venueStyle__qp__3w4_e .venueStyle__icons__kTABJ { margin: 0px !important; }
.venueStyle__qp__3w4_e .venueStyle__tabs__3wTus { margin-top: 12px; }
.venueStyle__qp__3w4_e.venueStyle__pageIndex1__13cTe .venueStyle__title__K3KhH { margin-right: 92px; }
.venueStyle__cp__2sFUo .venueStyle__title__K3KhH { margin-top: 25px; }
.venueStyle__cp__2sFUo .venueStyle__icons__kTABJ { margin: 0px !important; }
.venueStyle__cp__2sFUo .venueStyle__model__2e50G { width: 900px !important; }
.venueStyle__cp__2sFUo .venueStyle__tabs__3wTus { margin-top: 8px; }
.venueStyle__dj__3onOP { background-position: 0px 800px; position: relative; }
.venueStyle__dj__3onOP .venueStyle__djBg__2BW34 { position: absolute; width: 100%; min-width: 1320px; object-fit: cover; }
.venueStyle__dj__3onOP .venueStyle__contentLeft__3bmvb { -webkit-box-align: center; align-items: center; position: absolute; top: 210px; z-index: 2; }
.venueStyle__dj__3onOP .venueStyle__contentLeft__3bmvb .venueStyle__title__K3KhH { margin-bottom: 10px; }
.venueStyle__dj__3onOP .venueStyle__contentLeft__3bmvb .venueStyle__apng__ppVvF { pointer-events: none; width: 1260px !important; position: absolute !important; top: -90px !important; }
.venueStyle__dj__3onOP .venueStyle__contentLeft__3bmvb .venueStyle__subTitle__2nKwg { text-align: center; letter-spacing: 2.57px; text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px; width: 600px !important; font-size: 18px !important; color: rgb(255, 255, 255) !important; margin: 0px !important; }
.venueStyle__dj__3onOP .venueStyle__contentLeft__3bmvb .venueStyle__subTitle__2nKwg .venueStyle__icons__kTABJ { margin: 0px !important; }
.venueStyle__dj__3onOP .venueStyle__modelsDj__30CtN img, .venueStyle__dj__3onOP .venueStyle__models__zXaM0 img { position: absolute; }
.venueStyle__dj__3onOP .venueStyle__btn__HuPwB:hover { transform: translateZ(0px) scale(1.05) !important; }
.venueStyle__dj__3onOP .venueStyle__tabs__3wTus { position: absolute; top: 68px; -webkit-box-orient: horizontal !important; -webkit-box-direction: normal !important; flex-direction: row !important; margin: 0px !important; }
.venueStyle__dj__3onOP .venueStyle__tabs__3wTus .venueStyle__tabItem__11CR_ { margin: 0px 3px !important; }
.venueStyle__dj__3onOP .venueStyle__tabs__3wTus .venueStyle__tabItem__11CR_:hover img { transform: translateZ(0px) scale(1.05) !important; }
.venueStyle__dj__3onOP .venueStyle__anm__3WJmq { animation: 0s ease 0s 1 normal none running none; }
.venueStyle__dj__3onOP .venueStyle__subTitleAnimation__3-kF1, .venueStyle__dj__3onOP .venueStyle__btnAnimation__3E5th, .venueStyle__dj__3onOP .venueStyle__logosAnimation__pD7k9 { animation: 0.45s ease 0s 1 normal none running venueStyle__defAnima__2FYnC !important; }
.venueStyle__dj__3onOP .venueStyle__titleAnimation__1ia0h { animation: 0.55s ease-in 0s 1 normal none running venueStyle__djTitleAnima__YadFb !important; }
.venueStyle__dj__3onOP .venueStyle__modelAnimation__2Dzpr { animation: 0.45s ease-in 0s 1 normal none running venueStyle__ritghtModelAnima__cMU8X !important; }
.venueStyle__dj__3onOP .venueStyle__modelDjAnimation__3sQ0F { animation: 0.45s ease-in 0s 1 normal none running venueStyle__leftModelAnima__1110c !important; }
.venueStyle__dj__3onOP .venueStyle__bgAnimation__3sy-0 { animation: 0.45s ease-in 0s 1 normal none running venueStyle__bgAnima__1ujL2 !important; }
@-webkit-keyframes venueStyle__defAnima__2FYnC { 
  0% { transform: scale(1) translateX(0px); opacity: 1; }
  65% { transform: scale(0.8) translateX(0px); opacity: 0; }
  100% { transform: scale(1.1) translateX(0px); }
}
@keyframes venueStyle__defAnima__2FYnC { 
  0% { transform: scale(1) translateX(0px); opacity: 1; }
  65% { transform: scale(0.8) translateX(0px); opacity: 0; }
  100% { transform: scale(1.1) translateX(0px); }
}
@-webkit-keyframes venueStyle__djTitleAnima__YadFb { 
  0% { transform: scale(1) translateX(0px); opacity: 1; }
  30% { transform: scale(0) translateX(0px); opacity: 0; }
  75% { transform: scale(1.25) translateX(0px); opacity: 1; }
  100% { transform: scale(1) translateX(0px); }
}
@keyframes venueStyle__djTitleAnima__YadFb { 
  0% { transform: scale(1) translateX(0px); opacity: 1; }
  30% { transform: scale(0) translateX(0px); opacity: 0; }
  75% { transform: scale(1.25) translateX(0px); opacity: 1; }
  100% { transform: scale(1) translateX(0px); }
}
@-webkit-keyframes venueStyle__leftModelAnima__1110c { 
  0% { transform: scale(1) translateX(0px); opacity: 1; }
  50% { transform: scale(0.9) translateX(-300px); opacity: 0; }
  100% { transform: scale(1) translateX(0px); }
}
@keyframes venueStyle__leftModelAnima__1110c { 
  0% { transform: scale(1) translateX(0px); opacity: 1; }
  50% { transform: scale(0.9) translateX(-300px); opacity: 0; }
  100% { transform: scale(1) translateX(0px); }
}
@-webkit-keyframes venueStyle__ritghtModelAnima__cMU8X { 
  0% { transform: scale(1) translateX(0px); opacity: 1; }
  50% { transform: scale(0.8) translateX(300px); opacity: 0; }
  100% { transform: scale(1) translateX(0px); }
}
@keyframes venueStyle__ritghtModelAnima__cMU8X { 
  0% { transform: scale(1) translateX(0px); opacity: 1; }
  50% { transform: scale(0.8) translateX(300px); opacity: 0; }
  100% { transform: scale(1) translateX(0px); }
}
@-webkit-keyframes venueStyle__bgAnima__1ujL2 { 
  0% { opacity: 1; }
  40% { opacity: 0; }
  80% { transform: scale(1.1) translateX(0px); }
  100% { opacity: 1; }
}
@keyframes venueStyle__bgAnima__1ujL2 { 
  0% { opacity: 1; }
  40% { opacity: 0; }
  80% { transform: scale(1.1) translateX(0px); }
  100% { opacity: 1; }
}
@media screen and (min-width: 2550px) {
  .venueStyle__pages__3golT { height: 1067px !important; }
  .venueStyle__pages__3golT .venueStyle__content__37kNp { height: 100%; }
  .venueStyle__pages__3golT .venueStyle__models__zXaM0 img { top: 133.5px; position: relative; z-index: 0; }
  .venueStyle__pages__3golT .venueStyle__tabs__3wTus { position: relative; z-index: 1; }
  .venueStyle__pages__3golT .venueStyle__anm__3WJmq { margin-top: 267px; }
  .venueStyle__dj__3onOP { background-position: 0px 1067px; }
  .venueStyle__dj__3onOP .venueStyle__content__37kNp { height: 100%; }
  .venueStyle__dj__3onOP .venueStyle__content__37kNp .venueStyle__tabs__3wTus { top: 201px; position: absolute; }
  .venueStyle__dj__3onOP .venueStyle__content__37kNp .venueStyle__contentLeft__3bmvb { top: 340px; }
  .venueStyle__dj__3onOP .venueStyle__content__37kNp .venueStyle__models__zXaM0 img { top: 0px; }
  .venueStyle__dj__3onOP.venueStyle__pageIndex1__13cTe .venueStyle__modelsDj__30CtN img { top: 133.5px; left: -250px !important; }
  .venueStyle__dj__3onOP.venueStyle__pageIndex1__13cTe .venueStyle__models__zXaM0 img { top: 133.5px; right: -206px !important; }
  .venueStyle__dj__3onOP.venueStyle__pageIndex2__3pVp2 .venueStyle__modelsDj__30CtN img { top: 133.5px; }
  .venueStyle__dj__3onOP.venueStyle__pageIndex2__3pVp2 .venueStyle__models__zXaM0 img { top: 133.5px; }
  .venueStyle__dj__3onOP.venueStyle__pageIndex3__1gc-j .venueStyle__modelsDj__30CtN img { top: 133.5px; }
  .venueStyle__dj__3onOP.venueStyle__pageIndex3__1gc-j .venueStyle__models__zXaM0 img { top: 133.5px; right: -258px !important; }
  .venueStyle__ty__3em5P .venueStyle__models__zXaM0 img { top: 80px !important; }
}